
.App {
    background-color: var(--theme-white);
}


ul {
    border: 2px solid rgb(215, 215, 215, 50%);
    max-width: 80%;
    margin: 10px auto;
    padding-bottom: 15px;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: none;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 15px 20px;
    font-size: 23px;
}

.tasklist h1 {
    text-align: center;
    margin-top: 30px;
}

.delete {
    background-color: var(--theme-white);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.7s ease-out;
    cursor: pointer;
}

.delete:hover {
    background-color: black;
    color: var(--theme-white);
}

.toggle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.completed {
    box-shadow: green 1px 2px 5px;
}

.incomplete {
    box-shadow: rgb(228, 17, 17) 1px 2px 5px;
}

.logo {
    height: 100px;
}

header {
    background-color: var(--theme-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(147, 147, 147, 0.6) 0 1px;
    padding: 0 100px;
    max-width: 80%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.box {
    max-width: 700px;
    margin: 30px auto;

}

.success {
    background-color: rgb(193, 255, 193);
    text-align: center;
    padding: 10px 10px;
    box-shadow: rgb(172, 172, 172) 1px 3px 4px;
}

.success :nth-child(1) {
    font-size: 20px;
    margin-bottom: 6px;
}

.warning {
    background-color: rgb(255, 205, 169);
    text-align: center;
    padding: 10px 10px;
    box-shadow: rgb(172, 172, 172) 1px 3px 4px;
}

.warning :nth-child(1) {
    font-size: 20px;
    margin-bottom: 6px;
}

.alert {
    background-color: red;
}

.hidden {
    display: none;
}

.trigger {
    border: none;
    color: var(--theme-white);
    background-color: rgb(13, 34, 154);
    border-radius: 5px;
    width: 260px;
    height: 27px;
    font-size: 15px;
    margin: 15px 0 10px 0;
    cursor: pointer;
}

footer {
    text-align: center;
    color: black;
    box-shadow: rgba(147, 147, 147, 0.6) 0 -1px;
    padding: 20px 0;
    max-width: 80%;
    margin: 0px auto;
}

.addtask {
    max-width: 80%;
    margin: 30px auto;
    text-align: center;
    border: 2px solid rgb(215, 215, 215, 50%);
    padding: 30px 0;
}

.addtask label {
    font-size: 22px;
    margin-right: 15px;
}

.addtask input {
    height: 35px;
    width: 650px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 15px;
}

.addtask button {
    height: 35px;
    width: 70px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 1px 0 0 0;
    align-items: center;
    cursor: pointer;
}

.addtask button:hover {
    
}

.display {
    padding-top: 10px;
}

