* {
    box-sizing: border-box;
}

.App {
    background-color: rgb(255, 255, 255);
}


ul {
    border: 5px solid rgb(220, 220, 220);
    max-width: 80%;
    margin: 10px auto;
    padding-bottom: 15px;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin: 20px 30px;
    box-shadow: grey 2px 2px;
    padding: 15px 20px;
    font-size: 23px;
}

h1 {
    text-align: center;
}

.delete {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.7s ease-out;
}

.delete:hover {
    background-color: black;
    color: white;
}

.toggle {
    background-color: bisque;
    color: rgb(0, 0, 0);
    border-radius: 5px;


}

.completed {
    box-shadow: green 2px 2px;
}

.incomplete {
    box-shadow: rgb(228, 17, 17) 2px 2px;
}

.logo {
    height: 100px;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 5) 0 1px;
    padding: 0 100px;
    max-width: 80%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.box {
    max-width: 600px;
    margin: 20px auto;
}

.success {
    background-color: rgb(133, 249, 133);
}

.warning {
    background-color: rgb(249, 177, 126);
}

.alert {
    background-color: red;
}

.hidden {
    display: none;
}


