
.App {
    background-color: var(--theme-white);
}


ul {
    border: 2px solid rgb(215, 215, 215);
    max-width: 80%;
    margin: 10px auto;
    padding-bottom: 15px;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: none;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 15px 20px;
    font-size: 23px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.delete {
    background-color: var(--theme-white);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    transition: background-color 0.7s ease-out;
}

.delete:hover {
    background-color: black;
    color: var(--theme-white);
}

.toggle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    font-size: 15px;

}

.completed {
    box-shadow: green 1px 2px 5px;
}

.incomplete {
    box-shadow: rgb(228, 17, 17) 1px 2px 5px;
}

.logo {
    height: 100px;
}

header {
    background-color: var(--theme-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 5) 0 1px;
    padding: 0 100px;
    max-width: 80%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.box {
    max-width: 700px;
    margin: 20px auto;

}

.success {
    background-color: rgb(184, 254, 184);
    text-align: center;
    padding: 10px 10px;
    box-shadow: rgb(172, 172, 172) 1px 3px 4px;
}

.warning {
    background-color: rgb(255, 205, 169);
    text-align: center;
    padding: 10px 10px;
    box-shadow: rgb(172, 172, 172) 1px 3px 4px;
}

.alert {
    background-color: red;
}

.hidden {
    display: none;
}

.trigger {
    border: none;
    color: var(--theme-white);
    background-color: rgb(11, 35, 166);
    border-radius: 5px;
    width: 60px;
    height: 25px;
    font-size: 15px;
    margin: 15px 0 10px 0;
}


